<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2014-present iSC Apps & The Android Open Source Project
  All rights reserved.

  This material may not be reproduced, displayed, modified or distributed
  without the express prior written permission of the copyright holder.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="isc.apps.android.suriyaa" >

<!-- Set app permissions on a android device -->
<uses-permission android:name="android.permission.INTERNET" />

<!-- App permissions for Parse -->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
<permission android:protectionLevel="signature"
    android:name="isc.apps.android.suriyaa.permission.C2D_MESSAGE" />
<uses-permission android:name="isc.apps.android.suriyaa.permission.C2D_MESSAGE" />

<!-- Set icon -->
<application
    android:allowBackup="false"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name" >

    <!-- SplashScreen activity -->
    <activity
        android:name="SplashScreen"
        android:theme="@style/Theme.Transparent">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Main activity -->
    <activity
        android:name="MainActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <!-- Parse Push Service / Required for Parse.com notifications -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
          <intent-filter>
            <action android:name="com.parse.push.intent.RECEIVE" />
            <action android:name="com.parse.push.intent.DELETE" />
            <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
          <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            <category android:name="isc.apps.android.suriyaa" />
          </intent-filter>
        </receiver>
        <!-- END Parse.com requirements -->

</application>

</manifest>
<!-- Build the <> with <3 by iSC Apps Team -->
