<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2014-present iSC Apps & The Android Open Source Project
  All rights reserved.

  This material may not be reproduced, displayed, modified or distributed
  without the express prior written permission of the copyright holder.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="isc.apps.android.suriyaa" >

<!-- Set minimum SDK version for 4.0.3 (API 15) and maximum/target SDK version 6.0 (API 23)-->
<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />

<!-- Set app permission on a android device -->
<uses-permission android:name="android.permission.INTERNET" />

<!-- Set icon -->
<application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name">

    <!-- Main activity -->
    <activity
        android:name=".AndroidMobileAppActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>
<!-- Build the <> with <3 by iSC Apps Team -->